# Dependencias globales
node_modules/
*/node_modules/

# Entornos (Variables de PostgreSQL, etc.)
.env
.env*.local

# Builds
client/.next/
server/dist/

# Logs y temporales
*.log
.DS_Store

# Cypress (Videos y Screenshots generados en QA)
qa/cypress/videos/
qa/cypress/screenshots/